
/* Custom CSS for logo alignment */
/* .logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
} */

/* Adjust logo size as needed */
/* .logo {
  width: 100;
  height: 100; */
  /* Add any additional styling for your logo here */
/* } */
.backGround{
  background-color: yellow;
}
